.color{
    background-color: white;
    color: black;
}
.color2{
    color:white
}
.datetime{
    font-size: small;
    color: lightslategray;
}
.marginleft{
    margin-left: 45rem !important;
    
}
.navname{
    font-weight: 500 !important;
    color: black;
}
.navcircle{
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 0.3rem;
    color: black;
    
    
}
.left{
    text-align: left;
    background-color: #050e2d !important;
    color: white !important;
}
.coloring{
    color: white;
}
